.postslist {
    width: inherit;
    padding-top: 35px;
    .list {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        .list_item {
            display: flex;
            justify-content: space-between;
            position: relative;
            width: inherit;
            border-bottom: 2px solid black;
            margin: 15px auto;
            cursor: pointer;
            &:hover {
                color: red;
            }
            .title {
                display: inline-block;
                font-size: 24px;
                margin: 5px 10px;
                font-weight: bold;
            }
            .comment_date {
                font-size: 12px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }
}
@keyframes oxxo {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}