
$background-normal: repeating-linear-gradient(180deg, #b8f1ed 50vw, #d9b8f1 100vw, #f1b8e4 150vw, #d9b8f1 200vw, #b8f1ed 250vw);

$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$font-code-stack: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;

%Link_style {
    color: black;
    text-decoration: none;
}