@import './style/value.scss';

body {
  margin: 0;
  height: 120vh;
  width: 100vw;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background-normal;
  overflow: hidden;
  #root {
    margin: 0;
    height: inherit;
    width: inherit;
    height: 100vh;
    width: 100vw;
    
  }
}
code {
  font-family: $font-code-stack;
}
a {
  @extend %Link_style;
}
