# This is a basic workflow to help you get started with Actions

name: mysper.github.io

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    env:
      MY_SECRET   : ${{secrets.MYSPERPW}}
      USER_NAME   : mysper
      USER_EMAIL  : anthony.a3203@gmail.com
      PUBLISH_DIR : ./build
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Install and Build # This example project is built using npm and outputs the result to the 'build' folder. Replace with the commands required to build your project, or remove this step entirely if your site is pre-built.
        run: |
          npm install
          npm run build
      - name: Deploy to gh page
        run: |
          cd ./build
          git init
          git config --local user.name $USER_NAME
          git config --local user.email $USER_EMAIL
          git status
          git remote add origin https://$MY_SECRET@github.com/$GITHUB_REPOSITORY.git
          git checkout -b gh-pages
          git add *
          git commit -m "deploy to Github pages--github action"
          git push origin gh-pages -f
